<h1>Bienvenue sur The Gossip Project !</h1>
<br>
<h3>Voici la liste des potins :</h3>

  <div>
    <% @gossip.each do |gossip| %>

  <div class="card" style="width: 18rem;">
   <div class="card-body">
      <h5 class="card-title">  <%= gossip.author %></h5>
      <p class="card-text">  <%= gossip.content %></p>
      <a <a href="/potins/<%=gossip.id%>" class="btn btn-primary" href="potins/<%= gossip.id %>">Voir plus</a>
   </div>
  </div>
  </br>
<% end%>
​
</div>