<h1>POTIN numéro : <%= @gossips[@popotin.to_i - 1].id %></h1>
<h2>POTIN auteur :  <%= @gossips[@popotin.to_i - 1].author %></h2>
<h3>POTIN commentaire : <%= @gossips[@popotin.to_i - 1].content %></h3>
